<% provide(:title, '一覧') %>
  <% if params[:name].present? %>
    <h1>検索結果</h1>
  <% else %>
    <h1>全てのユーザー</h1>
  <% end %>
<div>
<%= form_tag(users_path, method: "get") do %>
  <%= label_tag :name, "ユーザー名検索" %><%= text_field_tag :name, params[:name] %>
  <%= submit_tag "検索" %>
<% end %>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>